<p>Recipe name: <%= @recipe.recipe_name %></p>
<p>Serving size: <%= @recipe.serving_size %></p>
<p>Cook time: <%= @recipe.cook_time %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Method: <%= @recipe.method %></p>
