<h2><%= @user.username %>' cookbook</h2>
<br></br>

<% @user.recipes.each do |recipe| %>

  <div class="card bg-light">
    <div class="card-header text-center ">
      <h4><%= recipe.recipe_name %></h4>
    </div>
    <div class="card-body">
      <h5><strong>Serving size:</strong><%= recipe.serving_size %></h5>

      <h5><strong>Cook time:</strong> <%= recipe.cook_time %></h5>
      <p><h5><strong>Ingredients:</strong></h5> <%= recipe.ingredients %></p>
      <p><h5><strong>Method:</strong></h5> <%= recipe.method %></p>

      <% if session[:user_id] == @user.id %>
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            <form action="/edit/<%= recipe.id %>" method="get">
              <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
            </form>
          </div>
          <div class="col col-lg-2">
            <form action="/delete/<%= recipe.id %>" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br></br>
<% end %>
<br></br>
<% if session[:user_id] == @user.id %>
  <form action="/new" method="get">
    <button type="submit" class="btn btn-secondary btn-sm">Add New Recipes</button>
  </form>
<% end %>
