<h2><%= @user.username %>' recipes</h2>
<br></br>


<% @user = User.find(session[:user_id]) %>

<% @user.recipes.each do |recipe| %>

  <div class="card text-center bg-light">
    <div class="card-header">
      <h4>Recipe name: <%= recipe.recipe_name %></h4>
    </div>
    <div class="card-body">
      <h6>Serving size: <%= recipe.serving_size %></p>
      <h6>Cook time: <%= recipe.cook_time %></p>
      <p>Ingredients: <%= recipe.ingredients %></p>
      <p>Method: <%= recipe.method %></p>

      <a class="btn btn-secondary" href="/edit/<%= recipe.id %>" role="button">Edit</a>
      <a class="btn btn-secondary" href="/delete/<%= recipe.id %>" role="button">Delete</a>
    </div>
  </div>

<% end %>
<br></br>

<form action="/new" method="get">
  <input type="submit" name="submit" value="Add New Recipes">
</form>
